<!doctype html>
<html>
<head><title>hi abhishek</title>
</head>
<body>
<form method="post" enctype="multipart/form-data" action="/">
<div>
<label for="name" >name </label>
<input type="text" name="name"><br>
</div>
<div>
<label for="age" >age </label>
<input type="text" name="age"><br>
<input type="submit">
</div>
</form>
</body>
</html>
<!--
html
html
head
title Form Tester
body
form(action = "/", method = "POST" enctype="multipart/form-data")
div
label(for = "say") Say:
input(name = "say" value = "Hi")
br
div
label(for = "to") To:
input(name = "to" value = "Express forms")
br
button(type = "submit") Send my greetings-->


