<!DOCTYPE html>
<html>
   <heaD>
      <title>hello</title>
   </heaD>
   <body>
      <h1> hi #{name}</h1>
      <input type="text" name="hi">
      <div>
         hi my name is #{name},
         may age is #{age},
         my school is #{school}
      </div>
   </body>
</html>