<!doctype html >
<html>
<head>
<title>login</title>
<body>
if(user)
    <h1> hi #{user.name} , ur age is #{user.age}</h1>
else 
    <label forhtml="name"> 
    <input type="text" name="name">
    <label forhtml="pass"> 
    <input type="password" name ="pass">
</body>
</html>