<html>
<head>
<title> Person</title>
<body>
<form action = "/person", method = "POST" enctype="multipart/form-data">
<label for = "name"> Name:</label>
<input name = "name" type="text">
<br>
<label for = "age"> Age:</label>
<input name = "age" type="text">
<br>
<label for = "nationality"> Nationality:</label>
<input name = "nationality" type="text">
<br>
<button type = "submit"> Create new person</button>
</form>
</body>
</html>