<html>
<head>
<title> Person</title>
<body>
<form action = "/", method = "POST" enctype="multipart/form-data">
<label for = "name"> Name:</label>
<input name = "name" type="text">
<br>
<label for = "used"> used:</label>
<input name = "used" type="text">
<br>
<label for = "company"> company:</label>
<input name = "company" type="text">
<br>
<button type = "submit"> Create new person</button>
</form>
</body>
</html>