<html>
   <head>
      <title> Signup </title>
   <body>
      if(message)
         <h4> #{message}</h4>
      <form action = "/signup" method = "POST" enctype="multipart/form-data">
         <input name = "id" type = "text" required placeholder = "User ID">
         <input name = "password" type = "password" required placeholder = "Password">
         <button type = "Submit"> Sign me up!</button>
      </form>
   </body>
</html>