<html>
<head>
<title> Person</title>
<body>
<form action = "/", method = "POST" enctype="multipart/form-data">
<label for = "currentName"> currentName:</label>
<input name = "currentName" type="text">
<br>
<label for = "newName"> newName:</label>
<input name = "newName" type="text">
<br>
<button type = "submit"> update</button>
</form>
</body>
</html>